header{
    background-image: url(../images/banner/banner2.png);
    background-size: cover;
    position: relative;
    width: 1100px;
    height: 650px;
}
header > h1, p {
    text-align: right;
    
}

header > h1 {
    position: absolute;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 40px;  
    color: #000000;
    top: 150px;
    right: 100px;
    
}
header > p.text {
    position: relative;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    color: #000000;
    right: 100px;
    top: 280px;
}
header > button {
    position: absolute;
    font-family: 'Work Sans';
    text-align: center;
    background-color: #F15B22;
    border: 0px;
    padding: 12px 14px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 11px;
    color: #FFFFFF;

    top: 350px;
    right: 100px;
    
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    
}
